
<div id="particle-js">
  <div class="logo">
    <img src="assets/TLavon (1).png" alt="logo" class="expand">
  </div>
  <div class="intro">
    <span>Tanessia Gordon</span>
    <p>I am a <b>Front-End Developer</b> currently
      living in the Tampa Bay area. While my passion is UI/UX, I also have some skills
      related to backend development.
    </p>
  </div>
  <div class="buttons-inline">
      <a class="button" routerLink='/skills'>Skills</a>
      <a class="button" routerLink='/contact'>Contact Me</a>
  </div>

</div>
