<div class="contact">
  <h1>Contact Me</h1>
  <p> Interested in connecting with me? Click a link below and lets chat.</p>
  <div class="contact-logos">
    <div class="logo">
      <a href="https://github.com/tlavon"><i class="fa fa-github"></i></a>
    </div>
    <div class="logo">
      <a href="mailto:tanessiagordon18@gmail.com"><i class="fa fa-envelope"></i></a>
    </div>
    <div class="logo">
      <a href="https://www.linkedin.com/in/tanessia-gordon"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
  <div class="buttons-inline">
      <a class="button" routerLink='/home'>Home</a>
      <a class="button" routerLink='/skills'>Skills</a>
  </div>
  <div class="tlavon">
    <img src="assets/TLavon2.png" class="expand">
  </div>

</div>
